@import "tailwindcss";

@font-face {
  font-family: "title-regular";
  src: url("/title-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

.title-regular {
  font-family: "title-regular";
}

/* Custom scrollbar styles */
.scrollbar-hide {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}
